@charset "UTF-8";
*{
    background-color: white;
    margin: 0; padding: 0;
    box-sizing: border-box;
    /* background-color: rgba(0, 0, 0, 0.01); */
    /* border: 1px solid black; */
}

a{color: black;}
a:link{text-decoration: none;}
a:visited,a:active{color: black;}
input[type = button]{
    all: unset;
}
li{list-style: none;}
textarea{font-style: normal; border: none; resize: none;}

#group_inner_wrap{
    min-width: 1300px;
    background-color: white
}
#group_inner_contents{
    margin: 0 auto;
    display: flex;
}
#group_inner_contents div{
    margin: 0 auto;
    display: flex;
    background-color: #ECEEEF;
}
.infobox{
    width: 300px;
    min-width: 300px;
}
#gpostsection{
    margin-left: 20px;
    width: 550px;
    padding-top: 10px;
    background-color: white;
}
.summary{
    margin-top: -10px;
    background-color: white;
}
#group_inner_container {
    display: flex;
    flex: 1 1 auto;
    position: relative;
    width: 1280px;
    margin: 0 auto;
    padding: 70px 0 0;
    align-items: flex-start;
    background-color: white;
}
.searchArea{
    margin-top: 20px;
    margin-bottom: -10px;
    padding: 17px px 17px;
    display: flex;
    height: 30px;
}
.searchBox{
    height: 28px;
}
#gpost{
    margin-top: 20px;
    background-color: white;
}
.gpostListwrap{
    margin-top: 10px;
    border: 1px solid #ccc;
    position: relative;
}
.gpostListwrap:first-child{
    margin-top: 0px;
}
.gpostContents > div {
    padding: 0px 22px 17px;
}
.default-group-Head {
    padding: 17px 22px 17px;
    display: flex;
}
.badgeimg-right-info{
    margin-left: 10px;
}
.badgeimg{
    width: 40px;
    min-width: 40px;
    height: 40px;
    min-height: 40px;
    border-radius: 50px;
}


/* 유저정보 팝업창 */
#modalOpenBtn, #modalCloseBtn {
    cursor: pointer;
    border: none;
  }
  
  .modalContainer {
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  }
  .modalContainer *{
  	border: 1px solid red;
  }
  
  .modalContent {
    position: absolute; 
    /*background-color: #ffffff; */
    width: 200px;
    height: 300px;
    padding: 15px;
    left: 50px;
    bottom: -157px;
    border: 1px solid black;
    z-index: 20;
    border-radius: 10px;
    align-items: center;  
}
  .modalinner {
    width: 180px;
    height: 280px;
    border: 1px solid deeppink;
    z-index: 25;
  }
  
  .modalContainer.hidden {
    display: none;
  }
  .modalContent > div {
  width: 150px;
  border: 1px solid deeppink;
  border-radius: 10px;
  z-index:20;
  }
.imgid{
    display: flex;
    position: relative;
}
#gpostuserid{
    font-size: 20px;
    font-weight: bold;
    color: rgb(238, 206, 63);
    position: absolute;
    top: 10px;
    left: 60px;
 }
 .mbadgeimg{
    width: 50px;
    height: 50px;   
    border: 1px dotted black;
    border-radius: 50%;
    margin-right: 20px;
 }

#grouprightsection{
    width: 400px;
    margin-left: 10px;
    min-width: 400px
}
#gannounce{
    padding: 17px 22px 17px;
}
#grouppopular{
    margin-top: 10px;
}

/* 모임가입하기 박스 */
 #groupinfobox{
    color: black;
    background-color: white;
    padding: 15px;
    border: 1px solid #ccc;
}
#groupname{
    font-weight: bold;
    color: rgb(238, 206, 63); ;
}
#groupinfo .gmem, .glead {
    font-size: 15px;
    margin-bottom: 10px;
}
#groupname{
    font-size: 18px;
    margin-bottom: 15px;
}
#groupinfo{
    margin-bottom: 10px;
}
.group-btn-box{
width: 120px;
height: 30px;
border-radius: 10px;
margin: 0 auto;
text-align: center;
background-color: rgb(238, 206, 63);
font-weight: bold;
padding: 3px;
} 

/*지역 그룹 소개 박스 */

.summary{
    padding: 5px;
    background-color: white;
}
.summarytitle{
    border-bottom: 2px solid white;
    margin-bottom: 10px;
}
.summarytitle > p{
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.summaryinfo > p {
    margin-bottom: 10px;
}

.grouptaglist > li{
    font-size: 14px;
}


/* 게시글 박스 */
.postsection{
    background-color: white;
}
.gpostListwrap{
    background-color: white;
}
.gpostHead{
    /* border: 1px solid blue; */
    height: 65px;

}
.usernamelink {
    font-weight: bold;
    font-size: 15px;
}
.regtime {
    font-size: 12px;
    color: #666;
}
.profile_wrap{
    position: relative;
}
.profile_container{
    background-color: rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 500px;
    position: absolute;
    z-index: 999;
	border-radius: 20px;
    position: relative;
}
.design1{
    background-color: white;
    position: absolute;
    top: 100px;
    width: 400px;
    height: 400px;
    border-radius: 20px;
}

.gpostHead{
    border-bottom: 2px solid #ECEEEF;
    margin-bottom: 10px;
    z-index: -1;
}

.gpostContents{
    padding: 10px;
    height: auto;
    z-index: -1;
}
.gpostContents div p{
    margin-bottom: 20px;
}

.point-area{
    font-size: 12px;
    color: #666;
}


/* 좋아요  */

.likereply{
    display: flex;
    justify-content: left;
    margin-right: 3px;
}

/* 글쓰기 제출 버튼 */
#profilebtn {
    cursor: pointer;
}


/* 테이블 스타일 */
/* 폼 전체 스타일 */
.writeform ul {
    list-style-type: none;
    padding: 0;
  }
  
  /* 각 리스트 아이템 스타일 */
  .writeform li {
    margin-bottom: 10px;
  }
  
  /* 제목 입력 필드 스타일 */
  .writeform #writetit {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* 내용 입력 필드 스타일 */
  .writeform #writebox {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* 파일 첨부 입력 필드 스타일 */
  .writeform #writefile {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* 제출 버튼 스타일 */
  .writeform #writesubmit {
    background-color: rgb(238, 206, 63);
    border: none;
    padding: 8px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
  /* 제출 버튼 호버 스타일 */
  .writeform #writesubmit:hover {
    background-color: rgb(219, 190, 59);
  }
  
  .profile_container input[type = button]{
    width: 15px;
    height: 15px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* 요소를 세로 중앙에 배치 */
    padding: 10px;
  
}
.searchwrite {
    display: flex;
    align-items: center; /* 내부 요소를 세로 중앙에 배치 */
    margin-bottom: 10px;
}
.groupsearch {
    display: flex;
}
.searchBox {
    margin-right: 10px; /* 검색 상자 사이 여백 */
    
}
.searchBtnBox{
    margin-right: 200px;
}

.write_btn { 
    margin-left: auto;
    background-color: rgb(238, 206, 63);
    border: none;
    padding: 1px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Shadow */
    height: 25px;
}

.writeform{
background-color: white;
/* border: 1px solid red; */
padding: 12px;
}

.writerinfo a{
    font-weight: bold;
    color:rgb(238, 206, 63);
    font-size: 20px;
}