@charset "UTF-8";

 .main_hobby_wrap{
	flex-wrap: wrap;
}
.main_contents_title a:hover{
}
.main_contents_title{
	display: flex;
	height: 40px;
	flex-direction: column;
	float: left;
	margin: 0;
	font-size: 15px;
	text-align: center;
	align-items: center;
	cursor: pointer;
	/* Background-color: antiquewhite; */
	bottom: 0;
	border-radius:15px ;
	justify-content: center;
	
	color: #384d75;
}
.main_h_contents a:hover{
	transform: scale(1.1);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	
	
}
.main_h_contents a{
	transition: all 0.2s linear;
	border-radius: 15px ;
}
.main_h_title p{
	width: 100%; height: 30px;
	text-align: center;	
	font-size: 15px;
	font-weight: bold;
	/* border: 1px solid rgb(99, 53, 53); */
	color: #384d75;
}

.main_contents_title a {
	font-size: 15px;
}
.main_h_contents a{
	text-decoration: none;
	font-size: 10px;
	display: flex;
	justify-content: center;
	
}
.set{
	width: 100%; height: 200px;
	float: left;
	border: 1px solid black;
	margin: 2px;

}
.main_h_contents {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 4px 7px;
	gap: 30px 0 0;
	position: relative;
	
}  
  