* {
            padding: 0;
            margin: 0;

        }

        #wrap {
            margin-right: 100px;
            margin-left: 100px;
        }

        .firstpost {
            display: flex;
            /* width: 70%; */
            height: auto;
            justify-content: space-around;
        }

        .postbox {
            border: 1px solid rgb(214, 213, 213);
            border-radius: 20px;
            width: 310px;
            height: 150px;
            padding: 40px 18px 18px 18px;

        }

        .postbox:hover {
            border: 1px solid rgb(197, 87, 197);
            border-radius: 20px;
            width: 298;
            height: auto;
        }

        #title {
            font-weight: bold;
            margin-bottom: 60px;
            margin-top: 60px;
            margin-left: 46px;
        }

        input[type=text] {
            margin: 65px 0px 40px 450px;
            height: 25px;
            width: 300px;
        }

        .secondpost {
            display: flex;
            height: auto;
            justify-content: space-around;
            flex-flow: wrap;
        }

        .tpostbox {
            border: 1px solid rgb(214, 213, 213);
            width: 600px;
            margin-bottom: 60px;
            border-radius: 20px;
            color: #666666;
            padding: 40px 18px 18px 18px;
        }

        .tpostbox:hover {
            border: 1px solid rgb(197, 87, 197)e;
            width: 600px;
            margin-bottom: 60px;
            border-radius: 20px;
        }

        .tbtop {
            display: flex;
            justify-content: left;
        }

        /* postbox 안 텍스트들  */

        .postbox .title {
            font-weight: 500;
            font-size: 20px;

            margin-bottom: 7px;
            color: #666666;

        }

        .postbox .content {
            font-weight: 500;
            font-size: 15px;
            color: #666666;
            margin-bottom: 10px;
        }

        .postbox .addr {
            font-weight: 700;
            font-size: 15px;
            margin-right: 170px;
            color: #666666;
        }

        .postbox .category {
            font-weight: 700;
            font-size: 13px;
            color: #666666;
        }

        .postbox .regdate {
            font-weight: 300;
            font-size: 12px;
            color: rgb(53, 53, 53);
        }

        .postbox .img {
            margin: 10px 80px 2px 80px;
        }

        .postbox .adgory {
            width: 290px;
            display: flex;
        }

        .postbox .regcnt {
            width: 290px;
            display: flex;
        }

        .likecnt {
            display: flex;
        }

        .likecnt>p {
            margin-left: 150px;
        }

        .heart {
            margin-top: 3px;
        }


        /* tpost안에 있는 텍스트들  */



        .tpostbox .ttitle {
            font-weight: 500;
            font-size: 20px;

            margin-bottom: 7px;
            color: #666666;

        }

        .tpostbox .tcontent {
            font-weight: 500;
            font-size: 15px;
            color: #666666;
            margin-bottom: 10px;
        }

        .tpostbox .taddr {
            font-weight: 700;
            font-size: 15px;
            margin-right: 170px;
            color: #666666;
        }

        .tpostbox .tcategory {
            font-weight: 700;
            font-size: 13px;
            color: #666666;
        }

        .tpostbox .tregdate {
            font-weight: 300;
            font-size: 12px;
            color: rgb(53, 53, 53);
        }

        .tpostbox .timg {
            margin: 10px 80px 2px 80px;
        }

        .tpostbox .tadgory {
            width: 290px;
            display: flex;
        }

        .tpostbox .tregcnt {
            width: 290px;
            display: flex;
        }

        .tlikecnt {
            display: flex;
        }

        .tlikecnt > p {
            margin-left: 150px;
        }

        .theart {
            margin-top: 3px;
        }

        .postpage{
            display: flex;
            justify-content: center;
        }